@CHARSET "UTF-8";
.display-none{
	diaplay:none;
}
.bread-content-div
{
	width:100%;
	height:200px;
	margin-top:10px;
	background:rgba(255,255,255,0.9);
	border: 1px solid #29cdb5;
}

.bread-img-item
{
	float:left;
	margin-top:10px;
	margin-left:10px;
	width:180px;
}

.bread-dscription-div{
	width:500px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	font-family:微软雅黑;
}

.bread-name-div{
	margin-bottom:30px;
}

.bread-price-div{
	float:left;
	height:200px;
	line-height:200px;
	overflow:hidden;
	margin-left:40px;
	
	color:rbga(45,21,20,0.9);
	font-size:36px;
	font-family:微软雅黑;
}

.cake-price-div{
	float:left;
	height:200px;
	line-height:200px;
	overflow:hidden;
	margin-left:40px;
	
	color:rbga(45,21,20,0.9);
	font-size:24px;
	font-family:微软雅黑;
}

.bread-cart-div{
	width:180px;
	height:180px;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

.cart-plain-div{
	width:100%;
	height:25%;
	background:rgba(155,214,213,0.2);
	border-bottom:1px solid #fff;
	font-size:18px;
	font-family:微软雅黑;
	color:rgba(41,205,181,0.8);
}

.cart-content-div{
	width:100%;
	height:25%;
	line-height:45px;
	overflow:hidden;
	background:rgba(155,214,213,0.2);
	border-bottom:1px solid #fff;
	color:rgba(41,205,181,0.8);
	font-size:18px;
	font-family:微软雅黑;
	padding-left:10px;
}

.add-icon{
	float:left;
	margin-left:20px;
	margin-top:13px;
}

.add-text{
	float:left;
	margin-left:10px;
}

.cart-content-div:hover
{
	background:rgba(155,214,213,0.4);
	cursor:pointer;
}

.minus-item{
	color:rgba(41,205,181,0.8);
	font-size:14px;
	float:left;
	margin-left:17.5px;
	margin-top:10px;
	margin-right:17.5px;
	width:25px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	border:1px solid rgba(41,205,181,0.8);
}

.plus-item{
	color:rgba(41,205,181,0.8);
	font-size:14px;
	float:left;
	margin-left:17.5px;
	margin-top:10px;
	margin-right:17.5px;
	width:25px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	border:1px solid rgba(41,205,181,0.8);
}

.input-item{
	float:left;
	margin-top:10px;
	width:60px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	border:1px solid rgba(41,205,181,0.8);
	text-align:center;
	outline: none;
	color:#29cdb5;
	font-size:10px;
}

.cal{
	margin-left:6px;
	margin-top:5px;
}

.minus-item:hover{
	background:rgba(155,214,213,0.4);
	color:#fff;
	cursor:pointer;
}

a:active{
	color:rgba(41,205,181,0.8);
}
a:visited:{
	color:rgba(41,205,181,0.8);
}
a:link{
	color:rgba(41,205,181,0.8);
}

.plus-item:hover
{
	background:rgba(155,214,213,0.4);
	color:#fff;
	cursor:pointer;
}

.bread-name-item{
	color:rbga(45,21,20,0.6);
	font-size:24px;
	font-family:微软雅黑;
}
.bread-price-item{
	color:rbga(45,21,20,0.8);
	font-size:36px;
	font-family:微软雅黑;
}
.padding-left-30{
	padding-left:30px;
}
.padding-top-20{
	padding-top:20px;
}

.bread-filter-itemLy:link,
.bread-filter-itemLy:visited,
.bread-filter-itemLy:active{
    font-size: 12px;
    height: 20px;
    text-decoration:none;
    display: inline-block;
    background-color: white;
    color:#2d1514;
    text-align: center;
    overflow: hidden;
    line-height: 20px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:5px;
    font-family:微软雅黑;
}
.bread-filter-itemLy:hover{
	color: #29cdb5;
}
.bread-filter-itemLy.active{
	background-color: #29cdb5;
	color:white;
}