@CHARSET "UTF-8";

/*可共用的css布局设置*/
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.color-white{
	color: white;
}
.color-black{
	color: black;
}
.color-lanlv{
	color: #29cdb5;
}
.color-red{
	color:#E84A5F;
}
.text-align-center{
	text-align:center;
}
.padding-left-70{
	padding-left:70px;
}
.padding-left-30{
	padding-left:30px;
}
/*common部分*/
.main{
	width: 1200px;
	padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
}
html{
    height:100%;
	font-family:微软雅黑;
}
body{
	width:100%; 
	background-color:#FEFFE4;
    background: -webkit-linear-gradient(#c2f0c8  , #a4dfe1, #c2f0c8  ); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#c2f0c8  , #a4dfe1, #c2f0c8  ); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#c2f0c8  , #a4dfe1, #c2f0c8  ); /* Firefox 3.6 - 15 */
    background: linear-gradient(#c2f0c8  , #a4dfe1, #c2f0c8  ); /* 标准的语法（必须放在最后） */
}
/*顶部导航*/
.nav-top{
	margin-top:0px;
	height:35px;
	overflow: hidden;
    line-height: 35px;
	background-color:#373331;
	font-size:12px;
	color:white;
}
/*顶部导航条目*/
.nav-top-item:link,
.nav-top-item:visited,
.nav-top-item:active {
	font-family:微软雅黑;
	color:rgba(255,255,255,0.9);
    text-decoration:none;
    display: inline-block;
    text-align: center;
    height:35px;
    overflow: hidden;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-top-item:hover {
    color: white;
}

.nav-top-item.active {
	color: white;
}
/*顶部导航 竖线*/
.nav-top-line{
	display: inline-block;
	text-align: center;
    height:35px;
    overflow: hidden;
    line-height: 35px;
}

/*搜索*/
.search-panel{
	height:85px;
	background-color: white;
}
.logo{
	display: inline-block;
	margin-left:20px;
}
.search-div{
	height: :100%;
	width:585px;
	padding-top: 22px;
	margin-left:12%;
	margin-right:auto;
}
.search-box{
	height:40px;
	width:500px;
	border:3px solid rgba(41,205,181,1);
	font-family:微软雅黑;
	font-size: 15px;
	outline: none;
	padding: 0px 15px;
	dispaly:inline-block;
}
.search-box:focus {
    border:3px solid rgba(41,205,181,0.8);
}
.search-btn{
	dispaly:inline-block;
	height:40px;
	width:80px;
	margin-left:-5px;
	padding:0px 20px;
	background-color:#29cdb5;
	border:none;
}
.search-icon{
	color:white;
}
.search-icon:hover {
    color: rgba(255,255,255,0.8);
}
/*主导航 div设置*/
.nav-main{
	height: 37px;
	width: 100%;
	background-color: white;
	border-top:1px solid  rgb(227,227,225);
}
/*主导航 导航条目设置*/
.nav-main-item:link,
.nav-main-item:visited,
.nav-main-item:active {
	float: left;
	width: 200px;
    font-size: 18px;
    height: 37px;
    text-decoration:none;
    color: #2d1514;
    display: inline-block;
    background-color: white;
    text-align: center;
    overflow: hidden;
    line-height: 37px;

}
.nav-main-item:hover {
    background-color: #29cdb5;
    color: white;
}
/*主导航中的|分隔 在鼠标放上时的显示*/
.nav-main-item:hover .float-right{
    color: #29cdb5;
}

.nav-main-item.active {
   background-color: #29cdb5;
    color: white;
}

/*右侧购物车*/
.float-bar{
	width:35px;
	backgroud-color:#444851;
	position:fixed;
	right:0;
	top:40%;
}
.float-bar-item:link,
.float-bar-item:visited,
.float-bar-item:active {
	font-family:微软雅黑;
    font-size: 12px;
    font-weigth:bold;
    text-decoration:none;
    color: rgba(255,255,255,0.9);
    display: inline-block;
    width:38px;
    background-color:#444851  ;
    text-align: center;
    padding-top:11px;
    padding-bottom:11px;
    border-bottom:1px solid gray;
}
.float-bar-item:hover {
    color: white;
    background-color:  #31353e;
}
.css-badge{
	color:white;
	background-color: #E84A5F ;
	margin-top:5px;
}
.shopping-cart-icon{
	margin-bottom:5px;
}

/*广告牌*/
。advertise{
	width:100%;
	height:438px;
	background-color:  #31353e;
	
}
.main-panel{
	margin-top:1px;
	border-top:1px solid #29cdb5;
}
.pro-item-panel{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
.pro-item{
	padding-top:20px;
	background-color:  white;
	width:195px;
	height:256px;
	float:left;
	margin-bottom:50px;
}
.margin-6{
	margin-left:6px;
}
 .pro-item-img{
 	width:160px; 
 	display:block; margin:0 auto;
 	padding-top:10px;
 } 
 .pro-item-label{
 	font-family:微软雅黑;
 	margin-left:15px;
 	margin-top:40px;
 }
 .pro-item-money{
 font-size:22px;
 }
 
.pro-item-add:link,
.pro-item-add:visited,
.pro-item-add:active {
	display: inline-block;
	margin-left:45px;
	text-decoration:none;
    color: gray;
    font-size:14px;
    padding:5px 10px;
    backgroud-color:rgba(0,0,0,0.5);
    
}
.pro-item-add:hover {
    color: black;
}

/*面包屑导航*/
.bread-nav-div{
	width:100%;
	height:30px;
	background:#fff; 
	padding-left:10px;
}
.bread-nav-item:link,
.bread-nav-item:visited,
.bread-nav-item:active {
	display: inline-block;
	text-decoration:none;
    color: #2d1514;
    font-size:12px;
    height:30px;
    overflow: hidden;
    line-height: 30px;
    margin-left:5px;
    font-family:微软雅黑;
}
.bread-nav-item:hover {
    color: #29cdb5;
}
.bread-nav-item.active {
	color: #2d1514;
}
.bread-nav-label{
	display: inline-block;
    color: #2d1514;
    font-size:12px;
    height:30px;
    overflow: hidden;
    line-height: 30px;
    margin-left:5px;
    font-family:微软雅黑;
}
.bread-nav-now{
	display: inline-block;
    color: gray;
    font-size:12px;
    height:30px;
    overflow: hidden;
    line-height: 30px;
    margin-left:5px;
    font-family:微软雅黑;
}
.bread-filter{
	width:100%;
	height:30px;
	background:#fff; 
	padding-left:40px;
}
.bread-filter-item:link,
.bread-filter-item:visited,
.bread-filter-item:active {
	display: inline-block;
	text-decoration:none;
    color: #2d1514;
    font-size:12px;
    height:30px;
    overflow: hidden;
    line-height: 30px;
    margin-left:5px;
    font-family:微软雅黑;
}
.bread-filter-item:hover {
    color: #29cdb5;
}
.bread-filter-item.active {
	backgroud-color:#29cdb5;
	color: white;
	
}
.signin-panel{
	padding-top:50px;
	width:100%;
	height:520px;
	background:#fff; 
}
.signin-div{
	width:560px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.signin-label{
	width:100%;
	font-family:微软雅黑;
	font-size:25px;
	text-align: center;
	color:#29cdb5;
	margin-bottom:10px;
}
.signin-input{
	display: inline-block;
	font-family:微软雅黑;
	width:320px;
	height:40px;
	margin-left:120px;
	margin-top:20px;
	padding-left:20px;
	backgroud-color:#000;
	outline:none;
}
.signin-btn{
	display: inline-block;
	font-family:微软雅黑;
	width:320px;
	height:40px;
	margin-left:120px;
	margin-top:20px;
	background: rgba(41,205,181,1);
	font-size:18px;
	border:none;
	color:rgba(255,255,255,1);
}
.signin-input:focus {
    border:1px solid rgba(41,205,181,0.8);
}
.input-check{
	font-family:微软雅黑;
}


.shop-panel{
	width:100%;
	margin-top:10px;
}
.shop-filter{
	width:100%;
	height:70px;
	background:#e0f2ee;
}
.shop-select{
	color:#2e1312;
	width:150px;
	height:34px;
	border:1px solid #c5c3c3;
	font-family:微软雅黑;
	padding-left:10px;
	margin-left:20px;
	margin-top:18px;
	
}
.shop-table-div{
	width:100%;
}
.shop-table{
	width:100%;
	font-family:微软雅黑;
}
.table-head{
	height:40px;
	color:white;
	font-size:14px;
	background:#444851;
}
.sname{
	width:200px;
}
.sadd{
	width:600px;
}
.stel{
	width:200px;
}
.sbtn{
	width:200px;
}
.table-head th{
	text-align:center;
}
.table-row{
	height:60px;
	font-size:12px;
	color:#2e1312;
	background-color:white;
	border-top:2px solid rgba(192,192,192,0.2);
}


.shop-enter-btn:hover {
    color: white;
    background:#29cdb5;
    border:1px solid #29cdb5;
}
.shop-enter-btn{
	display: inline-block;
	font-family:微软雅黑;
	width:130px;
	height:35px;
	text-align:center;
	font-size:12px;
	border:1px solid #8e8c8c; 
	color:#2e1312;
	background:white;
}
/*------------------------------------*\
    $ toaster
\*------------------------------------*/
.toaster {
    position: fixed;
    top: 40%;
    width: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;
}

.toast-item {
    width: 100%;
    font-family:微软雅黑;
    margin-bottom: 15px;
    color: #fff;
    padding: 16px 15px;
    display: none;
    text-align: center;
    min-height: 30px;
    font-size: 18px;
    line-height: 28px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.toast-item.error {
    background-color:rgba(232,74,95,0.8);
}

.toast-item.success {
    background-color:rgba(41,205,181,0.8);
}
.toaster-icon{
	margin-right:10px;
	
}